.maze {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  width: fit-content;
  position: relative;
  left: 200px;
}

.maze .cell {
  width: 20px;
  height: 20px;
}
.wall {
  background-color: brown;
  box-shadow: inset 0 0 2px black;
}
.way {
  background-color: white;
}
.minion {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 358px;
  left: 208px;
  border-radius: 50%;
}
.mykey {
  width: 20px;
  height: 20px;
}
ion-icon {
  font-size: 20px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: rgb(126, 107, 0);
}
.results {
  width: 180px;
  position: absolute;
}
.opened {
  animation-duration: 5s;
  animation-fill-mode: backwards;
  animation-name: opened;
}
@keyframes opened {
  0% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
