.maze {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  width: fit-content;
  position: relative;
  left: 150px;
}

.maze .cell {
  width: 20px;
  height: 20px;
}
.wall {
  background-color: black;
}
.way {
  background-color: white;
}
.minion {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 8px;
  border-radius: 50%;
}
